sudo: true

dist: trusty

language: php

php:
  - nightly
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.5

matrix:
  allow_failures:
    - php: nightly
    - php: 7.2

before_script:
  - composer install --no-interaction
  - sudo locale-gen uk_UA.UTF-8
  
script:
  - mkdir -p build/logs
  - composer cover
  
after_script:
  - composer coveralls
